#olx-logo{
    width: 100px;
    height: 50px;
    /* display: inline; */
    
    
}
#navbar{
    background-color: rgb(243, 221, 193);
}
#searchbar-2{
    font-size: 20px;
    box-sizing: 20px;
    display: inline;
    padding-right: 200px ;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    width: 40%;

}
#searchbar-1{
    width: 20%;
    font-size: 20px;
    box-sizing: 20px;
    display: inline;
    padding-right: 200px ;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    max-width: 450%;
    /* padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px; */
}
#navbar{
    height: 100%;
    width: 100%;
}

.item{
    width: 100px;
    height: 100px;
}
/* ==========================product===================================================== */
.firstrow{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
    margin-top: 35px;

}
.box img{
    width: 230px;
}
.box{
    border: 2px solid black;
    padding-bottom: 28%;
    padding-left: 10px;
    padding-right: 10px;
    width: 260px;
    height: 450px;
    cursor: pointer;
}
.box a{
    text-decoration: none;
    color: black;
}
.box h2{
    padding: 5px 0 0 20px;

}
.box p{
   
    color: gray;
    font-size: 14px;
}
.addressdata{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
}
#plot{
    width: 250px;
    height: 250px;
    padding-right: 17px;
}
#lcd{
    width: 250px;
    height: 250px;
    padding-right: 17px;
    padding-top: 13px;

}
#watch{
    padding-top: 15px;
}
#phone{
    width: 230px;
    height: 270px;
    padding-top: 13px;
    padding-right: 8px;

}
#phone-2{
    width: 230px;
    height: 270px;
    padding-top: 5px;
}
#olx-logo-1{
   color: lightskyblue; 
   height: 60px;
   width: 80px;
}

#olx{
    font-size:100%;
    color: rgba(11, 226, 226, 0.692);
    /* padding-left: 10px; */
    display: inline;
}
#motors-1{
   padding-left: 10%;
    margin: 15px;
    display: inline;
   
}
#properties{
    display: inline;
}
#motors-1:hover{
    color: blue
}
#properties:hover{
    color: blue;
}
.fa-solid{
    margin-left: 20px;
}
#body{
    background: #000;
}
